{% extends 'base1.html' %}
{% load static %}
{% block title %}Cart{% endblock title %}
{% block body %}
<div class="container my-5">
  <div class="row">
   <h1 class="text-center mb-5">Shopping Cart</h1>
   <div class="col-sm-8">
   <div class="card">
     {% for item in items %}
    <div class="card-body">
     <div class="row">
      <div class="col-sm-3 text-center align-self-center"><img src="{{item.product.image.url}}" alt="" srcset="" class="img-fluid img-thumbnail shadow-sm" height="150" width="150"> </div>
      <div class="col-sm-9">
        <h5>{{item.product.name}}</h5>
        <p class="mb-2 text-muted small">Description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum quas, nihil vel velit sed, quos consequatur maiores odio libero eius est in mollitia quo minus dolorum culpa consectetur, ipsam unde!</p>
        <div class="my-3">
         <label for="quantity">Quantity:</label>
         <button  class="btn update-cart" data-fooditem="{{item.product.id}}" data-action="remove"><i class="fas fa-minus-square fa-lg" ></i></button>
          <span id="quantity">{{item.quantity}}</span>
         <button  class="btn update-cart" data-fooditem="{{item.product.id}}" data-action="add"><i class="fas fa-plus-square fa-lg" ></i></button>
        </div> 
        <div class="d-flex justify-content-between">
         <button data-fooditem="{{item.product.id}}" data-action="delete" class="btn btn-sm btn-secondary mr-3 update-cart">Remove item </button>
         <p class="mb-0"><span><strong>BDT. {{item.get_total}}</strong></span></p>
        </div>
        <hr class="text-muted">
      </div>
     </div>
     
    </div>
    {% endfor %}
    </div>
   </div>
 
   <div class="col-sm-4">
    <div class="card">
     <div class="card-body">
       <h3 class="m-1 p-2 text-center bg-secondary text-light rounded">Cart Total</h3>
       <ul class="list-group pt-4 pb-4 pl-1 pr-1">
        <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">Total Amount<span>BDT. {{order.get_cart_total}}</span></li>
        <li class="list-group-item d-flex justify-content-between align-items-center px-0">Shipping Charge<span>BDT. {{order.shipping_charge}}</span></li>
        <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
         <div>
            <strong>Total</strong> <small>(including VAT)</small>
          </div>
          <span><strong>BDT. {{grand_total}}</strong></span>
        </li>
       </ul>
       <div class="d-grid mt-4 mb-4"><a href="{% url 'checkout' %}" class="btn btn-outline-secondary">Checkouts</a></div>
     </div>
    </div>
   </div>
   
  </div>
 </div>
 <div class="container">
  <div class="row">
   <div class="col-sm-8">
    <div class="card">
     <div class="card-body">
       <h5 class="mb-4">We accept</h5>
       <img src="{% static 'app/images/payment.png' %}" alt="" class="img-fluid">
     </div>
   </div>
   </div>
  </div>
 </div>
{% endblock body %}



{% block JS %}
<script type="text/javascript" src="{% static 'js/cart.js' %}" async></script>
{% endblock JS %}


