{% extends 'base1.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Buy Now{% endblock title %}
{% block body %}
<div class="container my-3">
 <div class="row w-50 m-auto">
 <h3 class="text-center mb-4 mt-4">Change Password</h3>
  <div class="col-sm-8 offset-sm-1 m-auto">
   <form method="POST" action="" id="changePasswordForm" class="shadow p-5 needs-validation" name="changePasswordForm" novalidate>
    {% csrf_token %}
     <div class="mb-3 from-group has-validation" id="old_password">
       <label for="old_password" class="form-label">Old Password</label>
       {{ form.old_password|as_crispy_field }}
       <small id="emailHelp" class="form-text text-danger"></small>
     </div>
     <div class="mb-3 form-group has-validation" id="new_password1">
       <label for="new_password1" class="form-label">New Password</label>
       {{ form.new_password1|as_crispy_field }}
       <small id="emailHelp" class="form-text text-danger"></small>
     </div>
     <div class="mb-3 form-group has-validation" id="new_password2">
       <label for="exampleInputPassword1" class="form-label">Confirm New Password</label>
       {{ form.new_password2|as_crispy_field }}
       <small id="emailHelp" class="form-text text-danger"></small>
     </div>
     <button type="submit" class="btn btn-outline-secondary mb-5 mt-2 container-fluid">Submit</button>
   </form>
  </div>
 </div>
</div>
{% endblock body %}