{% extends 'base1.html' %}
{%load static%}
{% load crispy_forms_tags %}
{% block title %}Login{% endblock title %}
{% block body %}
<div class="container">
 <div class="row my-3">
  <div class="col-sm-6 offset-sm-3">
   <h3 class="text-center">Login Here</h3>
   <hr>

   <form action="" method="post" class="form shadow p-5 needs-validation" novalidate id="loginform" name="loginForm" onsubmit="return loginValidation()">
    {% csrf_token %}
    
    <div class="bg-light">
        {% for message in messages %}

        <div class="alert alert-danger">

            <h6 class="text-center">{{ message }}</h6>

        </div>
        {% endfor %}
    </div>
    <div class="mb-3 has-validation" id="login_email">
     <label for="email" class="form-label">Email Address</label>
     {{ form.email|as_crispy_field }}
     <small id="emailHelp" class="form-text text-danger"></small>
     <div class="invalid-feedback">
        <small id="emailHelp" class="form-text text-danger"></small>
      </div>
    </div>
    <div class="mb-3 has-validation" id="login_password">
     <label for="password" class="form-label">Password</label>
     {{ form.password|as_crispy_field }}
     <small id="emailHelp" class="form-text text-danger"></small>
    </div>
    <small><a href="#">Forgot Password ?</a></small> <br>
    <div>
        <input type="submit" class="btn btn-outline-secondary mt-2 container-fluid" value="Login">
    </div>
    
    <br>
    <div class="text-center text-primary fw-bold"><small>Don't Have Account ? <a href="{% url 'register' %}"
       class="text-danger">Create an Account</a> </small></div>
   </form>
  </div>
 </div>
</div>

{% endblock body %}

{% block JS %}
<script>
if(user=='Anonymous'){
    var cart_total = document.getElementById('cart-total')

    console.log(cart_total)
  }

</script>

{% endblock JS %}
